In [1]:
println("Connect Spark first")

Intitializing Scala interpreter ...

Spark Web UI available at http://localhost:4040
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1657739861301)
SparkSession available as 'spark'

Connect Spark first

# Make Dataframes from CSV files

In [90]:
var US_Deaths = spark.read.csv("hdfs://localhost:9000/user/hive/warehouse/time_series_covid_19_deaths_US.csv")
var US_Cases = spark.read.csv("hdfs://localhost:9000/user/hive/warehouse/time_series_covid_19_confirmed_US.csv")

US_Deaths.createOrReplaceTempView("US_Deaths")
US_Cases.createOrReplaceTempView("US_Cases")

US_Deaths: org.apache.spark.sql.DataFrame = [_c0: string, _c1: string ... 477 more fields]
US_Cases: org.apache.spark.sql.DataFrame = [_c0: string, _c1: string ... 476 more fields]

# Top 5 Urban areas with highest COVID deaths

In [48]:
spark.sql("Select cast(_c478 as integer), _c10 deaths, _c11 population from US_Deaths order by 1 desc limit 5;").show

+-----+--------------------+----------+
|_c478|              deaths|population|
+-----+--------------------+----------+
|23946|Los Angeles, Cali...|  10039107|
|10171| Kings, New York, US|   2559903|
| 9970|  Cook, Illinois, US|   5150233|
| 9882|Maricopa, Arizona...|   4485414|
| 9740|Queens, New York, US|   2253858|
+-----+--------------------+----------+

# Top 5 non Urban areas highest COVID deaths

In [50]:
spark.sql("Select cast(_c478 as integer) deaths, _c10 city, _c11 population from US_Deaths where _c11 < 50000 and _c11 > 50 order by 1 desc limit 5;").show

+------+--------------------+----------+
|deaths|                city|population|
+------+--------------------+----------+
|   220|Val Verde, Texas, US|     49025|
|   177|   Ware, Georgia, US|     35734|
|   176|Santa Cruz, Arizo...|     46498|
|   176|Neshoba, Mississi...|     29118|
|   176|Mifflin, Pennsylv...|     46138|
+------+--------------------+----------+

# Top 5 non urban areas with Highest Percentage of COVID deaths

In [62]:
spark.sql("select _c10 city, concat(round((  (cast(_c478 as integer) / _c11) *100       ),2),'%') as DeathPercent from US_deaths where _c11 < 50000 and _c11 >50 order by 2 desc limit 5;").show

+--------------------+------------+
|                city|DeathPercent|
+--------------------+------------+
|    Foard, Texas, US|       0.87%|
| Galax, Virginia, US|        0.8%|
|Emporia, Virginia...|       0.79%|
|Jerauld, South Da...|       0.79%|
|Hancock, Georgia, US|       0.77%|
+--------------------+------------+

# Top 5 non urban areas with Highest Percentage of COVID deaths

In [60]:
spark.sql("select _c10 city, concat(round(((cast(_c478 as integer) / _c11) *100 ),2),'%') as DeathPercent  from US_deaths where _c11 > 50000 order by 2 desc limit 5;").show

+--------------------+------------+
|                city|DeathPercent|
+--------------------+------------+
|McKinley, New Mex...|       0.65%|
| Maverick, Texas, US|        0.6%|
| Apache, Arizona, US|        0.6%|
| Navajo, Arizona, US|       0.48%|
| Bronx, New York, US|       0.46%|
+--------------------+------------+

# Average COVID deaths in Urban area

In [89]:
spark.sql("select round(avg(_c11),0) as avg_population, round( avg( cast(_c478 as integer)   ),0  ) avg_deaths,  round((round( avg( cast(_c478 as integer)   ),0  )/round(avg(_c11),0) ) *100,2)  pop_over_death_times_100                                  from US_Deaths where _c11 > 50000").show

+--------------+----------+------------------------+
|avg_population|avg_deaths|pop_over_death_times_100|
+--------------+----------+------------------------+
|      288052.0|     485.0|                    0.17|
+--------------+----------+------------------------+

In [ ]:
#

In [ ]:
spark.sql("Select cast(_c478 as integer), _c10 deaths, _c11 population from US_Deaths order by 1 desc limit 5;").show